.home-page {
    font-family: noto-reg;
    width: 300vw;
    height: 300vh;
    
    z-index: 0;
    transition: all ease-in-out .6s;

 

    &.light {
      background-color: $light-bg;
      color: $light-font;
    }
    &.dark {
      background-color: $dark-bg;
      color: $dark-font
    }
    
    // .bg-circuit-animation {
        
    //         opacity: 0.3;
    //         z-index: 1;
    //         position: absolute;
    //         top: 170vh;
    //         left: 150vw;
            
    //         transform: translate(-50%, -50%);
            
        
    //       .path {
    //         animation: draw 20s infinite;
    //         animation-timing-function: linear;
    //       }
    //       .path-01 {
    //         animation-delay: 0s;
    //       }
    //       .path-02 {
    //         animation-delay: 1s;
    //       }
    //       .path-03 {
    //         animation-delay: 2s;
    //       }
    //       .path-04 {
    //         animation-delay: 3s;
    //       }
    //       .path-05 {
    //         animation-delay: 4s;
    //       }
          
          
          
    //       @keyframes draw {
    //         0% {
    //         }
    //         100% {
    //           stroke-dashoffset: 0;
    //           stroke-opacity: 1;
    //         }
    //       }
    // }

    .space-ship {
      position: relative;
      top: 40%;
      left: 30%;
    }

    @include for-narrow-layout {
      
      width: 100%;
      height: 500vh;
      display: flex;
      flex-direction: column;



    }
}


