* {
    box-sizing: border-box;
}

html {
   
    line-height: 1.5em;
    text-align: center;
    font-family: clean;
    scroll-behavior: smooth;
    
}

body {
    margin: 0;
    overflow: hidden;

    @include for-narrow-layout {

        overflow: auto;
    }
}

img {
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: clean;
    line-height: 1.2em;
    margin: 0 0 rem(20px);
    
}

h1 {
    font-size: rem(70px);
}

p {
   
    font-family: clean;
    
}