.navbar-btn {
    background: none;
    border: none;
 
    cursor: pointer;
    font-family: roboto-mono;
    font-size: 0.8rem;
    outline: none;
    transition: all ease-out .7s;
    outline: none;
    margin: auto 0;

    &:hover {
        
    }
}


 
.main-page-btn {
    font-family: clean;
    font-weight: bold;
    background: none;
    border: none;
    z-index: 9999;
   width: auto;
    font-size: rem(22px);
    
    outline: none;
    cursor: pointer;
    
}


.toggle-btn {
    width: 100%;
    padding: rem(10px);
    
    
    overflow: hidden;
    display: flex;
    z-index: 9999;
    align-items: center;
    justify-content: space-around;

    
    .clean-option ,.space-option {
        width: 50%;
        

        h4 {
            margin: 0;
            cursor: pointer;
            font-size: rem(24px);
            
        }

        .border {
            width: 100%;
            height: 1px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .space {
            color: $main;
        }
    }

    &.light {
       
        .clean-option:hover,.space-option:hover {
          .border {
            .right {
                height: 1px;
                animation: drawRight 2s;
                // border-bottom: solid 1px $dark-bg;
                width: 50%;
            }
            .left {
                height: 1px;
                animation: drawLeft 2s;
                // border-bottom: solid 1px $dark-bg;
                width: 50%;
            }
          }  
        }

        .space-option:hover {
            .border {
                .right {
                    border-bottom: solid 1px $main;
            }
        }
    }
        .clean-option:hover {
            .border {
                .right {
                    border-bottom: solid 1px $dark-bg;
            }
        }
        }
}
    &.dark {
        .clean-option:hover,.space-option:hover {
            .border {
              .right {
                  height: 1px;
                  animation: drawRight 2s;
                  // border-bottom: solid 1px $dark-bg;
                  width: 50%;
              }
              .left {
                  height: 1px;
                  animation: drawLeft 2s;
                  // border-bottom: solid 1px $dark-bg;
                  width: 50%;
              }
            }  
          }
  
          .space-option:hover {
              .border {
                  .right {
                      border-bottom: solid 1px $main;
              }
          }
      }
          .clean-option:hover {
              .border {
                  .right {
                      border-bottom: solid 1px $light-bg;
              }
          }
          }
    }

    span {
        position: absolute;
        
       
        margin: auto 0;
        cursor: pointer;
        
    }
    .light {
        
        color: $light-bg;
        
    }
    .dark {
        
        color: $dark-bg;
    }
}

@keyframes drawRight {
    from {
        width: 0;
        
    }
    to {
        width: 50%;
        
    }
}
@keyframes drawLeft {
    from {
        width: 0;
        
    }
    to {
        width: -50%;
        
    }
}