@font-face {
    font-family: noto-reg;
    src: url(../../assets/fonts/NotoSansJP-Regular.otf);
}
@font-face {
    font-family: noto-bld;
    src: url(../../assets/fonts/NotoSansJP-Bold.otf);
}
@font-face {
    font-family: roboto-mono;
    src: url(../../assets/fonts/RobotoMono-Regular.ttf);
}
@font-face {
    font-family: lcd;
    src: url(../../assets/fonts/LcdSolid-VPzB.ttf);
}