@font-face {
    font-family: ibm-reg;
    src: url(../../assets/fonts/IBM-Regular.ttf);
}
@font-face {
    font-family: obm-bld;
    src: url(../../assets/fonts/IBM-Bold.ttf);
}
@font-face {
    font-family: space;
    src: url(../../assets/fonts/space.ttf);
}
@font-face {
    font-family: clean;
    src: url(../../assets/fonts/clean.ttf);
}

.clean {
    font-family: clean;
}
.space {
    font-family: space;
}