// Colors
//Main
$main: rgb(99, 13, 156);
// Light
$light-bg: #fff;
$light-font: #222;

// Dark
$dark-bg: rgb(31, 17, 34);
$dark-font: #fff;



// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 1024px;