.contact {
  position: absolute;
  top: 200vh;
  left: 100vw;
  width: 100vw;
  
    span {
      font-family: roboto-mono;
    }
  
    h3 {
      &::after {
        content: '';
        display: inline-block;
        width: 300px;
        height: 1px;
        margin: 5px 15px;
        background-color: transparentize($clr3, 0.7);
      }
    }
    .contact-content {

        text-align: center;
        p {
            margin: 0;
            margin-top: 50px;
            width: 100%;
            max-width: 100%
        }
        button {
            margin: 50px auto;
        }
    }

    @include for-narrow-layout {
      padding: 100px 50px;
      text-align: center;
      margin: 0;
    }
    
}