.landing {

    width: 100%;
    padding: 150px 100px 0 100px ;
    text-align: inline-start;

    .opening {
        color: $clr3;
    }
    .name {
        color: $clr4;
        font-size: 65px;
    }
    h1 {
        font-size: 60px;
    }
    .sentence {
        padding: 50px 0;
    }

    @include for-narrow-layout {
        padding:50px;
      }
}