.navbar {
  display: none;
  width: 100%;
  height: 90px;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  position: fixed;
  top: 0;
  z-index: 9999;

  .logo {
    width: 50px;
    margin: 0;
  }

  .navbar-num {

  }

  .navbar-content-box {
    width: 600px;
    display: flex;
    justify-content: space-between;
  }

  @include for-narrow-layout {
    overflow-x: hidden;
    background: none !important;
    border: none !important;
    direction: rtl;
    display: flex;
    position: absolute;
    
    
    img {
      display: none;
    }

    .navbar-content-box {
      flex-direction: column;
      justify-content: space-around;
      position: fixed;
      height: 100vh;
      top: 0;
      right: 0;
      width: 40%;
      min-width: 200px;
      padding-top: 80px;
      direction: ltr;
      transition: all ease-in 0.4s;
      background-color: lighten($main, 50);
      

      a {
        margin: 0;
      }

      .resume-btn {
        width: 70%;
        max-width: 150px;
        margin: 0 auto;
      }
    }

    .close {
      
        transform: translateX(100%);
    }

    .hidden {
        display: none;
    }


    .hamburger {
        position: fixed;
        top: 5%;

        width: 35px;
        height: 35px;
        z-index: 9999;
        
        
        div {
          width: 100%;
          height: 5px;
          margin: 6px 0;
          transition: 0.4s;
          border-radius: 2px;
        }

        .bar1,.bar2,.bar3 {
          background-color: $main;
        }
    }   
         .change .bar1 {
           
          -webkit-transform: rotate(-45deg) translate(-9px, 6px);
          transform: rotate(-45deg) translate(-10px, 7px);
        }
        
        .change .bar2 {opacity: 0;}
        
        .change .bar3 {
          -webkit-transform: rotate(45deg) translate(-8px, -8px);
          transform: rotate(45deg) translate(-8px, -6px);
        }
      
    

  }
}
