.social {
    width: 15%;
    height: 10%;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: rem(24px);
    z-index: 15;
    i {
        
    }

    a {
    }

    

    @include for-narrow-layout {
        bottom: 10px;
        height: 15%;
        width: 10%;
        flex-direction: column;
        a {
            font-size: rem(32px);
        }

    }
    @media (max-width: 650px) {

        a {
            font-size: rem(20px);
        }
    }

}